.sidebar {
	margin-top: 25px;
}

.activities-menu-sidebar { 
	background-color: #9a9696;
}

.activities-menu-sidebar h2 {
	background-color: #DD6E42;
}

.sidebar .affix, div.well.sidebar-nav.affix { 
	width: 263px;
	top:10px !important;
}

